*,
html{
    margin: 0;
    padding: 0;
}
body{
    background-color: blanchedalmond
}
.container-home{
    background-color: #444;
    width: 100%;
    height: 100px;
}
.p-home{
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: xx-large;
}
.container-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.img-size{
    height: 90%;
    width: 25%;
}

.footer-home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.h1-footer{
    color: #444;
    font-style: oblique;
    font-size: xx-large;
}